*
  margin 0
  padding 0
  box-sizing border-box
  &:before, &:after
    box-sizing border-box

input, textarea
  width 100%
  font-size 16px
  font-family monospace
  color #669F64
  background-color #222
  border 0
  resize none
  outline none

h1
  margin 20px 0

h3
  margin 10px 0
